<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="false"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true">

    <testsuites>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <exclude>
            <directory suffix=".php">app/Providers</directory>
            <file>app/Console/Kernel.php</file>
            <file>app/Http/Middleware/Authenticate.php</file>
            <file>app/Http/Middleware/RedirectIfAuthenticated.php</file>
            <file>app/Http/Middleware/TrustHosts.php</file>
            <file>app/Http/Middleware/TrustProxies.php</file>
        </exclude>
    </source>

    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage" lowUpperBound="50" highLowerBound="90"/>
            <text outputFile="build/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="APP_URL" value="http://localhost"/>
        
        <!-- Database -->
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        
        <!-- Caching/Session/Queue -->
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="SESSION_LIFETIME" value="120"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        
        <!-- Mail -->
        <env name="MAIL_MAILER" value="array"/>
        <env name="MAIL_FROM_ADDRESS" value="test@example.com"/>
        
        <!-- Misc -->
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="SANCTUM_STATEFUL_DOMAINS" value="localhost,127.0.0.1"/>
    </php>
</phpunit>
