<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="tests/Bootstrap.php"
         colors="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <exclude>
            <directory suffix=".php">vendor</directory>
            <directory suffix=".php">tests</directory>
            <directory suffix=".php">bootstrap</directory>
            <directory suffix=".php">database</directory>
            <directory suffix=".php">resources</directory>
            <directory suffix=".php">storage</directory>
            <directory suffix=".php">config</directory>
            <directory suffix=".php">public</directory>
        </exclude>
    </source>
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage" lowUpperBound="70" highLowerBound="90"/>
        </report>
    </coverage>

    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_DATABASE" value=":memory:"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
        <server name="DB_FOREIGN_KEYS" value="true"/>
        <server name="DEBUG_DISABLED" value="1"/>
    </php>
</phpunit>